* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    padding: 0;
}

h3 {
    margin: 0;
}

button {
    height: 40px;
}

li::marker {
    content: "";
}

.m_width {
    max-width: 1440px;
}

.margin_10 {
    margin: 0 10px;
}

.d_none {
    display: none;
}

.d_scroll {
    height: 100%;
    overflow: hidden;
}

.d_unset {
    display: unset !important;
}