figure {
    margin: 0;
    background: white;
}

figure img {
    width: 100px;
}

figcaption {
    color: #919191;
    font-size: 30px;
}

header {
    background-image: url("../assets/img/background.jpg");

    & section:nth-child(2) {
        background-color: #313131;
    }
    & form {
        display: flex;
        flex-direction: column;
    }

    & nav {
        background-color: #313131;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    & div {
        /*color: #919191;*/
        /*background-color: #ffffff;*/
    }
    & span {
        /*color: #fffffD;*/
    }
}

header > div {
    /*background-color: #ffffff;*/
}

.input-group-append button {
    background: #ffb155;
}