figure {
    margin: 0;
    background: white;
}

figure img {
    width: 100px;
}

figcaption {
    color: #919191;
    font-size: 30px;
}

header {
    background-image: url("../assets/img/background.jpg");

    & section:nth-child(2) {
        background-color: #313131;
    }
    & form {
        display: flex;
        flex-direction: column;
    }

    & nav {
        height: 160px;
        background-color: #313131;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

blockquote {
    min-height: 80px;
    padding: 5px;
    border-radius: 5px;
    margin: 0 !important;
    background-color: #85c46a;
    max-width: 436px !important
}

form {
max-width: 535px !important;
    & h2 {
        text-align: right;
    }

    & input {
        height: 40px;
    }

    & button {
        height: 40px;
    & img {
        transform: translateY(-3px);
    }
    }
}

.form-control {
    border-radius: 0.375rem !important;
}

.input-group-append button {
background: #ffb155;
    &:hover {
        background: #f8a848;
    }
}

#load {
    margin: 40px 0;
}